# Ignore the Following Files
.DS_Store
*.csv
*.csv.gz
*.zip
*.pem
*.txt
*.xls
*.json
*.pkl
*.jpeg
*.h5
*.data
*.data.gz
*.gz
*.sav
*.zip
*.dot
*.icloud
*.twbx
*.tar

# Hidden Folders
Whitepapers
Books
Economics
FlashCards
BrainStation
Kaggle
Backups
/Data/Images/
__pycache__/
.ipynb_checkpoints/*

# Hidden AWS Guides
/AWS/Instructions/

# Whitelist these folder with .gitignore
!/AWS/Policies/* #Upload All Content within this folder
